/* ==========================================================================
   Base styles
   ========================================================================== */

/*Color*/
:root {
  --accent-color: #de4343;
  --accent-color-darker: #de4343;
  --accent-color-lighter: #ff7171;
  --secondary-color: #4c4e56;
  --footer-color: #4c4e56;
}

::selection {
  background: var(--accent-color-lighter);
}


/*Font*/
@font-face {
  font-family: "Odin-Bold";
  src: url('../fonts/odin-bold.otf')
}


h1,
h2,
h3,
h4,
h5,
h6,
body,
button,
input,
select,
textarea,
p,
li,
a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

p,
li {
  font-size: 18px;
}

a {
  color: white;
  transition: all .4s ease;
}


a:hover {
  color: var(--accent-color);
}

body {
  min-height: 100vh;
}



/* ==========================================================================
   Preloader
   ========================================================================== */
.loading {
  overflow: hidden;
  height: 100vh;
}

form #website {
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--accent-color);
}

.preloader-circle {
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  opacity: 0;
  z-index: 21;
  /*shape & color*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-color-lighter);
}

/*animations*/
.preloader-circle:first-child {
  -webkit-animation: loader 2s infinite;
  animation: loader 2s infinite;
}

.preloader-circle:nth-child(2) {
  -webkit-animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
  animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* ==========================================================================
   Header
   ========================================================================== */
header nav {
  height: 0;
  position: absolute;
  z-index: 100;
}

header {
  height: 115px;
  padding-bottom: 99px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: inset 0px 90px 33px -22px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width:992px) {
  header nav {
    position: fixed !important;
  }
}

header nav .nav-wrapper {
  transition: all .4s ease;
  width: 92%;
}

@media only screen and (min-width:991px) {
  header nav.wide .nav-wrapper {
    max-width: 1920px;
    width: 98%;
  }
}

nav .sidenav-trigger i {
  height: 56px;
  line-height: 56px;
  font-size: 3rem !important;
}

header nav .brand-logo.show-on-scroll {
  opacity: 0;
  transition: all .4s ease;
}




/*nav on mobile*/

#nav-mobile {
  padding-top: 5%;
}

#nav-mobile li {
  text-align: center;
}

#nav-mobile li:first-child {
  padding-bottom: 40px;
}

#nav-mobile .socials {
  display: flex;
  justify-content: center;
}

#nav-mobile .socials a {
  padding: 0 7px
}

.nav-wrapper {
  color: #fafafa;
}

nav .brand-logo {
  height: 90px;
}

nav.wide .brand-logo {
  margin-left: 15px;
}


.brand-logo img {
  height: 90px;
  padding: 15px 0;

}

#nav-mobile i {
  float: none;
  margin: 0;
  font-size: 27px;
  color: rgba(0, 0, 0, 0.87);
}

/*titles*/

nav ul a,
ul.sidenav a {
  transition: all .4s ease;
  font-size: 16px;
}

nav ul a,
nav ul li,
nav .sidenav-trigger i {
  line-height: 90px;
}

nav .nav-wrapper i {
  line-height: 90px !important;
  font-size: 26px;
}

nav ul a:hover,
ul.sidenav a:hover {
  /*removes materialize style*/
  background-color: rgba(0, 0, 0, 0);
  /*new style*/
  color: var(--accent-color);

}

/*pedidosya button*/

.pedidosya.btn {
  background-color: var(--accent-color);
  color: white !important;
  text-transform: none;
  border-radius: 9px;
  font-weight: 700;
}

.pedidosya.btn:hover,
.pedidosya.btn:focus {
  background-color: var(--accent-color-lighter);
  color: white;
}

.hero .pedidosya.btn {
  margin-top: 2rem;
}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  height: 100vh;
  /* fondo */
  background: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/img/hero-01-min.jpg);
  /*para centering */
  display: flex;
}


/*Hero Animation*/
.hero .darken.active {
  background: black;
}

.hero>div {
  width: 100%;
  display: flex;
}

.hero .container {
  margin: auto;
}

.hero .container .content {
  margin: auto;
  text-align: center;
  max-width: 720px;
  width: 95%;
}

.hero img {
  padding-bottom: 2rem;
  max-width: 300px;
  width: 80%;
}

.hero h1 {
  margin: 0;
  font-family: 'Odin-Bold', 'Montserrat', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}



@media only screen and (min-width:600px) {
  .hero .half-width {
    max-width: 550px;
  }
}

@media only screen and (max-width:600px) {
  .hero h1 {
    font-size: 2rem;
  }
}

.hero h5 {
  padding: 10px 0 20px 0;
}


@media only screen and (min-width:993px) {
  .hero .pedidosya.btn {
    display: none;
  }
}

/*Arrow*/
html {
  scroll-behavior: smooth;
}


.arrow {
  position: absolute;
  bottom: 35px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background-image: url(../img/arrow-down.svg);
  background-size: contain;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(5px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(5px);
  }
}

/* ==========================================================================
   Secciones General
   ========================================================================== */

body,
main {
  background-color: #fafafa;

}

@media only screen and (min-width:901px) {

  /* cambia el orden de los items */
  /* #section-2 .row {
    display: flex;
    flex-direction: row-reverse;
  } */

  /* centra los textos verticalmente */
  .col.s12.m6.l6.valign-wrapper {
    min-height: 430px;
  }
}


.valign-row-l,
.valign-row-m {
  display: flex;
  align-items: center;
}

@media only screen and (max-width:992px) {
  .valign-row-l {
    display: block;
  }

  .valign-row-l div.col:last-child {
    padding-top: 2rem;
  }
}

@media only screen and (max-width:600px) {
  .valign-row-m {
    display: block;
  }
}

/* ==========================================================================
   Slider
   ========================================================================== */
.slider h4 {
  text-align: center;
  color: white;
  transform: translateY(40px);
}

.slider.section {
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  /* background-color: var(--accent-color); */
  /* background-color: var(--secondary-color); */
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/carousel-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}

.carousel .carousel-item {
  opacity: 1 !important;
}


/*V1 - Nombre adentro*/
.carousel .carousel-item {
  /* width: 250px;height: 250px; */
}

.card-image {
  box-shadow: inset 0px 0px 47px 0px rgba(0, 0, 0, 1);
}

.card .card-image img,
.card .card-image,
.card,
.card-title {
  border-radius: 9px;
}

.card-title-container {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
  margin: 0;
  -webkit-box-shadow: inset 10px -68px 24px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: inset 10px -68px 24px 0px rgba(0, 0, 0, 0.64);
  box-shadow: inset 10px -68px 24px 0px rgba(0, 0, 0, 0.64);
}

.card .card-image .card-title {
  padding: 15px 24px;
}

.card-title-container.double-shadow {
  -webkit-box-shadow: inset 10px -92px 30px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: inset 10px -92px 30px 0px rgba(0, 0, 0, 0.64);
  box-shadow: inset 10px -92px 30px 0px rgba(0, 0, 0, 0.64);
}

.card-title-container.double-shadow span {
  padding-bottom: 10px !important;
}




/* ==========================================================================
   Section 3
   ========================================================================== */

#section-3 h4 {
  padding-bottom: 3rem;
}

@media only screen and (max-width:900px) {
  #section-3 h4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}


ol.instructions {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-left: 40px;
}

ol.instructions li {
  margin: 0 0 2.5rem 0;
  padding-top: 6px;
  counter-increment: my-awesome-counter;
  position: relative;
}

ol.instructions li::before {
  content: counter(my-awesome-counter);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 41px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 0;
  background: var(--accent-color);
  border-radius: 50%;
  text-align: center;
}

/* ==========================================================================
   Other tabs
   ========================================================================== */

.back {
  margin-top: 2rem;
}

.back a {
  text-decoration: none;
  font-size: 1.5em;
}

.back a::before {
  content: "< ";
}

/* ==========================================================================
   FAQ Hero
   ========================================================================== */

.hero.small {
  height: 35vh;
}

.hero.small .container {
  padding-top: 10vh;
}

/* ==========================================================================
   FAQ FAQ
   ========================================================================== */
section.faq {
  margin-top: 70px;
  margin-bottom: 70px;
}

.collapsible {
  box-shadow: none;
  border-radius: 9px;
}

.collapsible li:first-child .collapsible-header {
  border-radius: 9px 9px 0 0;
}

.collapsible li:last-child:not(.active) .collapsible-header,
.collapsible li:last-child .collapsible-body {
  border-radius: 0 0 9px 9px;
}




.collapsible-header {
  background-color: #fafafa;
  transition: background-color .4s ease, color .4s ease;
  font-size: 1.6rem;
}


.collapsible li:hover .collapsible-header {
  background-color: #f5f5f5;
}

.collapsible li:hover .collapsible-header {
  color: var(--accent-color);
}

.collapsible-header span {
  transition: color .4s ease;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.page-footer>.container {
  padding-bottom: 30px;
}

footer li,
footer p,
footer {
  font-size: 1rem;
}

footer li {
  margin-bottom: 11px;
}

footer i {
  font-size: 27px;
}

@media only screen and (max-width:992px) {
  footer>div.container div.col {
    padding-bottom: 20px;
  }
}


/*socials*/

.page-footer .socials {
  display: flex;
}

.page-footer .socials a:first-child {
  padding-right: 14px;
}


/*pedidos ya*/

footer .pedidosya.btn {
  box-shadow: none;

}

/* footer copyright */
.footer-copyright {
  background-color: rgba(0, 0, 0, 0.18) !important;
}




/* ==========================================================================
   Cambios generales Materialize
   ========================================================================== */

.row {
  margin-bottom: 0;
}

.section {
  margin-top: 140px;
  margin-bottom: 140px;
}

@media only screen and (max-width:901px) {
  .section {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

.valign-wrapper {
  flex-direction: column;
  justify-content: center;
}

.responsive-img {
  display: block;
  margin: auto;
}

#section-1,
#section-3 {
  margin-top: 0;
  padding-top: calc(140px + 1rem);
}

@media only screen and (max-width: 901px) {

  #section-1,
  #section-3 {
    margin-top: 0;
    padding-top: calc(70px + 1rem);
  }
}


/* ==========================================================================
   Browser Fixes
   ========================================================================== */
/* Firefox */

@-moz-document url-prefix() {
  /* .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/fondo-firefox.jpg) !important;
  } */

}